Repository wujekbogdan/map_of_science: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --flag unstable_config_lookup_from_file, prettier --write --ignore-unknown, prettier --write

chore: changelog update
  .changeset/all-vans-smell.md
  .changeset/fine-windows-float.md
  .changeset/heavy-points-flash.md
Due: prettier --write

chore: prune dev dependencies
  docker-compose.yml
  pnpm-lock.yaml
  src/apps/api/Dockerfile
  src/apps/api/package.json
  src/apps/api/src/index.ts
Due: eslint --fix --flag unstable_config_lookup_from_file, prettier --write --ignore-unknown, prettier --write

fix: lock file update
  pnpm-lock.yaml
Due: none

feat: build docker images via gh action
  .github/workflows/ci.yml
  docker-compose.yml
Due: none

fix: line continuation
  .github/workflows/ci.yml
Due: none

fix: one more try
  .github/workflows/ci.yml
Due: none

fix: pnpm prod prune done right
  src/apps/api/Dockerfile
  src/apps/web/Dockerfile
Due: none

chore: changelog update
  .changeset/sixty-peas-listen.md
  .github/workflows/ci.yml
Due: prettier --write

feat: add postgres database
  docker-compose.yml
Due: none

chore: postgres client
  pnpm-lock.yaml
  src/apps/api/.env.example
  src/apps/api/.gitignore
  src/apps/api/package.json
  src/apps/api/src/db/pool.ts
  src/apps/api/src/index.ts
Due: eslint --fix --flag unstable_config_lookup_from_file, prettier --write --ignore-unknown, prettier --write

feat: add flyway
  .gitignore
  docker-compose.yml
Due: none

Path conditions:
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{js,jsx,ts,tsx}
  prettier --write --ignore-unknown: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.css) or (any of: package.json)) or (any of: *.md)
